/* ---------- your original CSS (paste in full). I include the full updated CSS below ---------- */

@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Great+Vibes&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&family=Yellowtail&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Host Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html,
body {
    width: 100%;
    min-height: 100vh;
    background: #181717;
    color: #f4efe7;
}

.capsul{
    position: relative;
    width: 100%;
    height: 100%;
    clip-path: inset(36.5% 36.5% 36.5% 36.5%);
    transition: 0.2s ease-out;
}

.capsuleBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.capsuleLogo{
    position: relative;
    width: 42rem;
    height: 15rem;
    border-radius: 100px;
    background: #2b2724;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.capsuleLogo h1{
    position: relative;
    font-size: 3.8rem;
    font-weight: 400;
    color: #2b2724;
    z-index: 1;
}

.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #f4f0e7;
    z-index: 0;
}

.page1,
.page2,
.page3 {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
}

.background {
    position: relative;
    width: 100%;
    height: 100%;
    /* background: url("./images/background1.png");
    background-size: cover;
    background-position: center; */
    border-radius: 3.5rem;
    overflow: hidden;
}

.background img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background .top,
.background .bottom {
    position: absolute;
    width: calc(100% - 1rem);
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.background .top {
    top: 1.5rem;
    /* left: 3rem; */
}

.background .bottom {
    left: 1rem;
    bottom: 2rem;
    align-items: end;
}

.top h1 {
    font-size: 12.5rem;
    font-weight: 500;
    line-height: 10rem;
}

.menuBtn {
    position: relative;
    width: 9rem;
    height: 3.5rem;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: none;
   display: flex;
    justify-content: space-between;
}

.menu{
    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50px;
    color: white;
    padding: 5px;
    position: absolute;
    right: 10px;
}

.menuBtn i {
    position: absolute;
    right: 0.5rem;
    padding: 0.2rem;
    background: #291718;
    color: #f4efe7;
    border-radius: 50%;
 
}

.bottom h3 {
    font-size: 2.5rem;
    width: 20%;
    font-weight: 400;
    line-height: 2.5rem;
}

.bottom h4{
    width: 18rem;
    font-size: 0.9rem;
}

/* style for page2 */
.page2{
    padding: 3rem;
    display: flex;
    align-items: center;
    height: 150vh;
}

.page2 h4{
    margin-top: 5.5rem;
    width: 90%;
    color: white;
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
}

.page2 .bottom{
    position: absolute;
    top: 22%;
    left: 0;
    width: 100%;
    height: 20rem;
    /* background: #291718; */
    background: #181717;
    /* background: yellow; */
    opacity: 0.93;
}

/* page3 */
.page3{
    padding: 3rem;
    height: 150vh;
}

.page3 .top, .page3 .bottom{
    width: 100%;
}

.page3 .top{
    display: flex;
    align-items: center;
}

.page3 .top .left, .page3 .top .right{
    width: 50%;
    display: flex;
}

.left .imgBox{
    width: 18rem;
  height: 12rem;
  overflow: hidden;
  border-radius: 125px;
}

.imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top .right p{
    font-size: 2.5rem;
    color: #b1a696;
    line-height: 2.5rem;
}

.page3 .bottom{
    margin-top: 10rem;
    /* padding-top: 2rem; */
}

.hideBox{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hideBox h2{
    position: relative;
    font-size: 11rem;
    font-weight: 400;
    line-height: 12rem;
}

.hide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #291718; */
    background: #181717;
}

.bottom p{
    margin-top: 4rem;
    width: 60%;
    font-size: 1.8rem;
    color: #b1a696;
    line-height: 2rem;
}

/* style for page4 */
.page4{
    position: relative;
    height: 130vh;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.page4 .slider{
    width: 100%;
    overflow: hidden;
    height: auto;
    /* background: yellow; */
}

.slider .box{
    position: relative;
    min-width: calc(50rem * 5);
    /* maintain the distance between elements */
    height: 15rem;
    display: flex;
}

.slider .box h3{
    font-size: 10rem;
    width: 50rem;
    position: absolute;
    left: 100%;
    animation: animate var(--time) linear infinite;
    animation-delay: calc((var(--time) / var(--quantity) * (var(--index) - 1)) - var(--time));
}

@keyframes animate {
    to{
        left: -50rem;
    }
}

.page4 .background{
    position: absolute;
    /* width: calc(100vw - 1rem);
    height: calc(100vh - 0.5rem); */
    width: 40rem;
    height: 18rem;
    border-radius: 90px;
    /* have to change it during scroll animation */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page4 .background img{
    transform: scale(1.3);
}

/* text animation */
.topText, .bottomText{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: yellow; */
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.bottomText{
    top: 90%;
}

h4, h3{
    position: relative;
}

.topText h4{
    font-size: 5rem;
    font-weight: 400;
}
.topText h3{
    font-size: 3rem;
}

.bottomText h3{
    width: 30%;
    font-size: 1rem;
    margin-left: 3rem;
}
/* text animation end */

.page4 .background2{
    position: absolute;
    width: calc(100vw - 1rem);
    height: calc(100vh - 1rem);
    border-radius: 3.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    overflow: hidden;
}

.background2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.3);
}

.capsule{
    padding-left: 30px;
    padding-right: 30px;
}


:root{
  
  --beige: #d6cec3;
  --beige-muted: #bfb6ac;
  --accent: #f3eee8;
}

/* container */
.footer-section{
  position: relative;
  width: 100%;
  height: 60vh;
  color: var(--beige);
  box-sizing: border-box;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* left column text */
.footer-left{
     padding: 6rem 3rem 8rem 3rem; /* top right bottom left */
  max-width: 56rem; /* similar to max-w-xl */
}

.left-paragraph{
  font-size: 1.8rem; /* ~text-2xl */
  line-height: 1.08;
  margin-bottom: 1.6rem;
  color: var(--beige);
  font-weight: 400;
}

/* underline link */
.underline-link{
  color: var(--beige);
  text-decoration: underline;
  margin-left: 0.25rem;
}

/* right vertical menu */
.footer-right{
  position: absolute;
  top: 6rem;
  right: 3rem;
  text-align: right;
  display: flex;
  flex-direction: column;

  color: var(--beige);
  font-size: 1.9rem; /* big like text-3xl */
  line-height: 1;
}

/* small registered symbol slightly smaller and aligned */
.reg{
  font-size: 0.85rem;
  margin-left: 0.25rem;
}

/* social icons at bottom-left */
.social-wrap{
  position: absolute;
  left: 2rem;
  bottom: 4.5rem;
  display: flex;
  align-items: center;
}

.social{
  width: 3.5rem;
  height: 3.5rem;
  min-width: 3.5rem;
  min-height: 3.5rem;
  border-radius: 50%;
  border: 2px solid var(--beige);
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:1.3rem;
  font: bold;
  color: var(--beige);
  background: transparent;
}

/* bottom-right caption */
.footer-caption{
  position: absolute;
  right: 3rem;
  bottom: 4.5rem;
  max-width: 18rem;
  text-align: right;
  color: var(--beige-muted);
  font-size: 0.95rem;
  line-height: 1.2;
}


.line{
    width: 100%;
    height: 1px;
    background-color: white;
    margin-top: 1rem; 
    margin-bottom: 5rem;   
}

.topheading{
    font-size: 5rem;
    white-space: nowrap;
    
}

/* Debug force to ensure styles override Tailwind preflight if needed */
:root{
  --caps-bg: #181717;
  --caps-text: #f4efe7;
}

html, body, #root { height:100%; background:var(--caps-bg); color:var(--caps-text); }
body { font-family: "Host Grotesk", "Roboto", system-ui, -apple-system, "Segoe UI", sans-serif; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }

/* Ensure large headings similar to original */
.page1 .background .top h1 { font-size: 12.5rem; line-height: 10rem; font-weight: 500; color: var(--caps-text); }
.page2 h4 { font-size: 6rem; line-height: 6rem; color: white; }
.page3 .top .right p { font-size: 2.5rem; color: #b1a696; line-height: 2.5rem; }
